$background-color: rgb(44, 44, 44);
$foregroundColor: #333333;
$textColor : rgb(254, 254, 254);
$linkColor : rgb(223, 128, 12);
$separationColor : rgb(100, 100, 100);

html {
    background-color: $background-color;
    color: $textColor;
    font-family: Abel, sans-serif;
}

body {
    margin: 0;
}

a {
    color: $linkColor;
}

p {
    display: block;
    font-style: italic;
    margin-left: 1em;
    margin-bottom: 1em;
}

.box {
    border-radius: 7px 7px;
    margin: 2rem;
}